body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.sidebar {
  height: 250px;
  width: 150px;
  background-color: #c4e5f4;
  color: #201658;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: -250px;
  transition: right 0.3s;
  z-index: 999;
  overflow-y: auto;
}

.sidebar-toggle {
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #201658;
  font-size: 24px;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  background-color: #f8f4ec;
}

.sidebar-open {
  right: 0;
}

.sidebar-content {
  padding-top: 50px;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content ul li {
  padding: 10px;
}

.sidebar-content ul li a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.content {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-footer {
  height: 100px;
  background-color: #201658;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  height: 70px;
  background-color: #201658;
  text-align: center;
  line-height: 70px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.image {
  height: 170px;
  width: 170px;
  background-image: url("./images/image.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}

h1 {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #201658;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  border-radius: 6px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  background-color: #f8f4ec;
  width: 90%;
  margin: 0 auto;
  color: #201658;
  padding: 20px;
}

.img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.img img {
  width: 33.33%;
  height: 200px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
    right: 0;
  }

  .sidebar-toggle {
    display: none;
  }

  .content {
    padding-top: 70px;
  }

  .top-footer,
  .footer {
    height: auto;
    padding: 20px;
    font-size: 14px;
  }

  .image {
    position: static;
    margin: 20px auto;
  }

  img {
    width: 90%;
    height: auto;
    padding-top: 150px;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  h3 {
    padding-top: 70px;
    font-size: 25px;
    margin-bottom: -100px;
  }

  h4 {
    padding-top: 70px;
    font-size: 15px;
  }

  h5 {
    padding-top: 10px;
    font-size: 15px;
  }
}

.content {
  position: relative;
  margin-bottom: 100px;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.main-image img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: -500px;
  border: 2px solid #201658;
  margin-top: 50px;
}

.other-images {
  position: absolute;
}

.other-images img {
  border-radius: 50%;
  position: absolute;
  transform-origin: center;
}

.other-images img:nth-child(1) {
  border: 2px solid #201658;
  height: 60px;
  width: 60px;
  top: 70px;
  margin-left: -135px;
}

.other-images img:nth-child(2) {
  border: 2px solid #201658;
  height: 80px;
  width: 80px;
  top: -15px;
  left: -70px;
}

.other-images img:nth-child(3) {
  border: 2px solid #201658;
  height: 100px;
  width: 100px;
  bottom: 0;
}
h2 {
  display: block;
  text-align: center;
  padding-top: -10px;
  font-size: 50px;
  margin-top: -40px;
}
p.intro {
  font-size: 20px;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-top: -100px;
  margin-bottom: 25px;
}
h3 {
  color: #201658;

  padding-top: 90px;
  font-size: 30px;
  margin-bottom: -100px;
}
h4 {
  padding-top: 90px;
  font-size: 20px;
}
h5 {
  padding-top: 10px;
  font-size: 20px;
}
.project {
  padding-bottom: 100px;
  padding-top: 150px;
  bottom: 20px;
  margin-bottom: -100px;
  margin-top: -100px;
}

#individual .project-image {
  display: inline-block;
  margin: 50px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#individual .project-image img {
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 13px;
  border: 2px solid #201658;
  font-size: 15px;
}

.project-image {
  position: relative;
  display: inline-block;
  margin: 60px;
  padding-bottom: 40px;
  margin-top: 10px;
}

.project-image img {
  width: 220px;
  height: 220px;
  border-radius: 13px;
  border: 2px solid #201658;
}

.caption {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 13px 13px;
  text-align: center;
  z-index: 1;
}

.caption::before,
.caption::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 30px;

  z-index: -1;
}

.caption::before {
  left: 0;
  bottom: -30px;
  border-radius: 0 0 0 13px;
}

.caption::after {
  right: 0;
  bottom: -30px;
  border-radius: 0 0 13px 0;
}
.contact p {
  background-color: #f8f4ec;
  padding: 10px;
  color: #201658;
}
.contact {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
}
